# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Terraform Output
tf_output.json

# Sensitive files
*.pem
*.key

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc